*{margin: 0;padding: 0;text-decoration: none;list-style: none;}
a{text-decoration:none;}
.top{width: 100%;height: 94px;background-color: #faf7f5;min-width: 1000px;position: relative;}
.top .logo{padding:22px 20px;float: left; }
.top .solgen{font-size: 18px;color: #807e7d;line-height: 94px;text-align: center;width:233px;margin: 0 auto; }
.top .right{position: absolute;right:0px;top: 15px;width: 360px;height: 60px;}
.top_link{font-size: 11px;color: #807e7d;margin-right: 8px;}
.top_link img{margin-bottom: -2px;}
.hui_link{font-size: 11px;color: #807e7d;border-right: 1px solid #807e7d;display: inline-block;padding-right: 4px;}
.top .right input{width: 196px;height: 30px;background-color: #fff;border: 1px #d9d7d4 solid;border-right: none;margin-top: 12px;}
.top .right button{width: 32px;height: 32px;border: none;background-image: url(../images/pic_13.png);background-repeat: no-repeat;position: absolute;left:196px;bottom:-5px;}
.share_wechat{width:29px;height:24px;background-image: url(../images/pic_16.png);position:absolute;right:90px;bottom:18px;cursor: pointer;}
.share_tamll{width: 38px;height: 18px;background-image: url(../images/tm1.png);position:absolute;right:5px;bottom:20px;cursor: pointer;}
.share_wechat img{position: absolute;left:-64px;bottom:-160px;;display:none;z-index: 400}
.share_wechat:hover{background-image: url(../images/pic2_03.png)}
.share_wechat:hover > img{display: block;}
.share_sina{width: 29px;height: 24px;background-image: url(../images/pic_18.png);position:absolute;right:50px;bottom: 18px ;cursor: pointer;}
.banner{width: 100%!important;height: 749px;min-width: 1000px;position: relative;overflow: hidden;max-height: 749px; z-index:1;}
.banner .bd{
	width: 100%!important;
	height: 749px;max-height: 749px;
}
.banner .bd ul{
	width: 100%!important;
	height: 749px;
	max-height: 749px;
	z-index:-1;
}
.banner .bd li{height: 749px;width: 100%!important;
	background: url() center 0 no-repeat;max-height: 749px;
}	
.banner .hd{
	position: absolute;right: 15px;bottom: 5px; z-index:0;
}
.banner .hd span{
	display: inline-block;
	width: 12px;height: 12px;
	background:url(../images/banner_dot.png) no-repeat left center;
	margin-left: 12px;
}
.banner .hd .on{
	background:url(../images/banner_dot1.png) no-repeat left center;
}
.bannerBox img{width: 16.666%;height: 100%;float: left;}
.bannerBox{width: 600%;height: 80vh;position: absolute;left: -200%;top: 0;}
.bannerContrl_left{position: absolute;left: 0;top:300px;width: 62px;height: 124px;cursor: pointer; }
.bannerContrl_right{position: absolute;right: 0;top:300px; width: 62px;height: 124px;cursor: pointer;}
.sec_nav{width: 100%;height: 60px;background-color:rgba(212,25,67,0.9); position: absolute;left: 0;top:94px;z-index: 300;min-width: 1000px;}
.sec_nav .box{width: 400px;margin: 0 auto;line-height: 60px;position: relative;}
.sec_nav .box ul{width: 110px;height: 200px;background-color:rgba(212,25,67,0.9); position: absolute;left:136px;top:60px;color: #fff;padding: 0 20px;display: none;}
.sec_nav .box ul li{text-align: center;line-height: 39px;border-bottom: 1px #fff dotted ;cursor: pointer;}
.sec_nav .box a{color: #fff;padding: 0 20px;height: 60px;display: inline-block;}
.three{width: 1000px;margin: 0 auto;height: 100px;position: absolute;left:25%;bottom:30px;margin-left: -260px; z-index:0;}
.three a{display: inline-block;width: 28%;border: 1px rgba(255,255,255,0.62) solid;
border:1px solid #c7c6c5\9;
background: rgba(255,255,255,0.08);
filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19ffffff,endcolorstr=#19ffffff);
height: 60px;/*color: #807e7d;*/ color:#fff; font-size: 26px;text-align: center;line-height: 60px;transition: 0.3s;float: left;margin-left: 10px; position: absolute;bottom: 0;}
.three a .yin{display: none;font-size: 12px;}
.three a:hover{height: 80px;border-color:#d07084;background: rgba(212,25,67,0.5);
 filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fd41943,endcolorstr=#7Fd41943);
line-height: 30px;padding-top: 20px}
.three a:hover p{display: block;color:#fff;}

.news a{color: #535352;}
.hide_logo{float: left;margin-left: 50px;margin-top: 10px;display: none;}
#blBtn,#brBtn{
	position:absolute;
	top:230px;
	display:black;
	width:65px;
	height:119px;
	z-index:0;
}
#blBtn{
	left:0;
	background-image: url(../images/home_13.png);
}
#brBtn{
	right:0;
	background-image:url(../images/home_14.png);
}
#goL{background-image: url(../images/contrl_03.png);}
#goR{background-image: url(../images/contrl_04.png);}
#goL:hover{background-image: url(../images/contrl_06.png);}
#goR:hover{background-image: url(../images/contrl_05.png);}
/*#goL:hover{background-image: url(../images/contrl_06.png);}
#goR:hover{background-image: url(../images/contrl_05.png);}*/


/*3.3*/
#blBtn,#brBtn{
	width:38px;
	height:68px;
}
#blBtn{ background: url(../images/home_13.png) no-repeat;}
#brBtn{
	background:url(../images/home_14.png) no-repeat;
}

