@charset "utf-8";
/*
	*create by chengkun 19/9/2015.
	*version 1.0.
	*Reset the browser default style.
*/
/* è®¾ç½®ç›’æ¨¡åž‹æ ·å¼ */
*{ box-sizing:border-box;}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
/* æ¸…é™¤åˆ—è¡¨é»˜è®¤æ ·å¼ */
ul, ol, li {
	list-style: none;
}
em, i {
	font-style: normal;
}
@font-face{font-style:normal;font-family:'SourceHanSansCN';src:url(../../../fonts/SourceHanSansCN-Normal.otf) }

html, body {
	font-family: SourceHanSansCN;
	font-size: 14px;
	color: #383838;
	background: #fff;
	margin: 0 auto;
}
body, input, textarea, select, button {
	-webkit-appearance: none;
	border-radius: 0;
}
a {
	color: #333;
	text-decoration: none;
	outline: none;
}
a, button, input, p, label, div {
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
img {
	border: 0;
	vertical-align: top;
}
input, textarea {
	border: none;
}
input:focus, textarea:focus {
	outline: none;
}
textarea {
	resize: none;
}
button {
	border: none;
	background: none;
}

/* æ¸…é™¤æµ®åŠ¨ */
.clearfix:after,.clearfix:before{
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;
	overflow:hidden;
}
.clearfix{
	zoom:1;
}
/*æµ®åŠ¨*/
.fl {
	float: left;
}

.fr {
	float: right;
}
.tx-c{
	text-align: center;
}

/* é¡µé¢å…¬å…±å¤´éƒ¨å’Œå°¾éƒ¨ */
#ck_header{
	width: 100%;
	height: 94px;
	background: #faf8f5;
	color: #807e7d;
}
#ck_header .ck_left{
	padding: 25px 0 0 30px;
}
#ck_header .ck_center{
	line-height: 94px;
	font-size: 17px;
	padding-left: 425px;
}

#ck_header .ck_right{
	padding-right: 30px;
}
#ck_header .ck_right .ck_top1{
	line-height: 44px;
}
#ck_header .ck_right .ck_top1 .ck_online,
#ck_header .ck_right .ck_top1 .ck_tel{
	padding: 0 10px 0 20px;
}
#ck_header .ck_right .ck_top1 .ck_online{
	background: url(../images/online.png) no-repeat left center;
}
#ck_header .ck_right .ck_top1 .ck_tel{
	background: url(../images/tel.png) no-repeat left center;
}
#ck_header .ck_right .ck_top1 a{
	color: #807e7d;
}
#ck_header .ck_right .ck_top1 a:hover{
	color: #d7093a;
}
#ck_header .ck_right .ck_top2 .ck_search input{
	background: #fff;
	border: 1px solid #ccc;
	height: 32px;
	line-height:32px;
	width: 239px;
	border-right: none;
}
#ck_header .ck_right .ck_top2 .ck_search .ck_searchBtn{
	width: 32px;
	height: 32px;
	display: inline-block;
	cursor: pointer;
	background: url(../images/search.png) no-repeat #d7093a 6px 6px;
	border: 0;
}
#ck_header .ck_right .ck_top2 .ck_social span{
	padding-left: 12px;
}
/*å¯¼èˆªéƒ¨åˆ†*/
#nav{
	position: relative;
	width: 100%;
	height: 58px;
	line-height: 58px;
	background: rgba(215,9,58,.95);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#E5d7093a,endcolorstr=#E5d7093a);
	text-align: center;
	z-index: 100000;
}

#nav .ck_mainNav{
	z-index: 0;
	text-align: left;
	display: inline-block;
}

#nav .ck_mainNav>li{
	float:left;
}

#nav .ck_mainNav .a1{
	position: relative;
	/*display: inline-block;*/
	z-index:1;
}
#nav .ck_mainNav a{
	display: inline-block;
	height: 58px;
	color: #fff;
	padding: 0 20px;
	font-size: 16px;
}

.subKindLists li{
	color: #fff;
	font-size: 16px;
	text-align:center;
}

#nav .ck_subNav{
	display: none;
	position: absolute;
	width: 100%;
	height: 58px;
	line-height: 58px;
	background: rgba(255,255,255,.76);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#C8FFFFFF,endcolorstr=#C8FFFFFF);
	margin-top: -1px;
	/*z-index: 20000;*/
}
#nav .ck_subNav .ck_content{
	width: 1200px;
	height: 58px;
	margin: 0 auto;
}
#nav .ck_subNav .ck_content .ck_title{
	color: #1a1919;
	font-size: 20px;
}
#nav .ck_subNav .ck_content .ck_list{
	color: #474746;
	font-size: 14px;
}
#nav .ck_subNav .ck_content .ck_list .ck_kinds>li{
	float: left;
}
#nav .ck_subNav .ck_content .ck_list .ck_kinds>li>a{
	color: #474746;
	padding: 0 30px;
	background: url(../images/arrow.png) no-repeat 65px center;
}
#nav .ck_subNav .ck_content .ck_list li a:hover{
	color: #d7093a;
}
#nav .ck_subNav .ck_content .ck_list li{
	position: relative;
}
#nav .ck_subNav .ck_content .ck_list li .ck_kindsList{
	position: absolute;
	left: -44px;
	width: 196px;
	padding-top: 15px;
	margin-top: -1px;
	display: none;
	z-index: 2000;
}
#nav .ck_subNav .ck_content .ck_list li .ck_kindsList ul{
	position: relative;
	background: rgba(255,255,255,.76);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#C8FFFFFF,endcolorstr=#C8FFFFFF);
	padding: 0 10px;
}
#nav .ck_subNav .ck_content .ck_list li .ck_kindsList li{
	line-height: 40px;
	border-bottom: 1px dashed #ccc;
}
#nav .ck_subNav .ck_content .ck_list li .ck_kindsList li:last-child{
	border-bottom: none;
}
#nav .ck_subNav .ck_content .ck_list li .ck_kindsList em{
	position: absolute;
	top: -35px;
	left: 94px;
}
html{
	background: #ccc;
}

/*åº•éƒ¨footeréƒ¨åˆ†*/
#ck_footer{
	position: relative;
	width: 100%;
	background: #d9d7d4;
	padding-top: 20px;
	z-index: 0;
}
.ck_footer{
	width: 1160px;
	margin: 0 auto;
}
.ck_links li{
	float: left;
	width: 150px;
	font-size: 12px;
}
.ck_links li a{
	display: block;
	height: 26px;
	color: #5c6878;
}
.ck_links li a:hover{
	color: #d7093a;
}
.ck_companyInfo p{
	padding-left: 20px;
	color: #5c6878;
	font-size: 12px;
	height: 30px;
}
.ck_companyInfo p:nth-child(1){
	background: url(../images/tel1.png) no-repeat left top;
}
.ck_companyInfo p:nth-child(2){
	background: url(../images/address.png) no-repeat left top;
}
.ck_copyRight{
	margin: 12px auto 0;
	width: 1160px;
    border-top: 1px solid #c2c0be; 	
height:48px;font-size: 12px;
	color: #5c6878;
	line-height: 38px;
}





.ptb40{ padding:40px 0px;}
.ptb30{ padding:30px 0px;}
.ptb15{ padding:15px 0px;}
.plf10{ padding:0px 10px;}
img{ vertical-align:middle}
.zhb_comnt{ height:auto; overflow:hidden; width:1200px; margin:0 auto;}
.zhb_left{ float:left}
.zhb_right{ float:right}
.zhb_run_l{ height:auto; overflow:hidden; width:392px;}
.zhb_run_top{ height:auto; overflow:hidden; width:100%;border-bottom:1px solid #d8d7d3; margin-bottom:10px;}
.zhb_run_l h1{ height:auto; overflow:hidden; width:100%;font-size:18px; padding:5px 0px;  color:#333;}

.zhb_run_l p{ line-height:28px; font-size:14px; color:#9e9d9b;}
.zhb_run_l p.h2p{ font-size:16px;}
.zhb_run_l p.mb10{ margin-bottom:10px;}
.zhb_kefu{ display:block; height:44px; text-decoration:none; color:#fff;
 background:url(../images/zhb_listen.jpg) no-repeat 35% center #d7093a; width:100%;
  margin:auto; line-height:44px; font-size:18px; text-align:center;}
.zhb_dlie{ height:auto; overflow:hidden; border:1px solid #d8d7d3; width:180px; }
.zhb_dlie a{ display:block; height:auto; overflow:hidden; width:100%; text-align:center; text-decoration:none; font-size:12px; color:#9e9e9c;line-height:28px; }
.zhb_dlie a:hover{ color:#d7093a;}
.zhb_dlie a img{ display:inline-block; padding-right:10px; margin-top:-5px;}
.zhb_line{ height:auto; overflow:hidden; width:100%;}
.zhb_run_r{ height:auto; overflow:hidden; width:722px;}

.zhb_shipin{ height:auto; width:100%; min-width:1200px; background:#f1edec;}
.zhb_shipinm{ height:550px; display:block; margin-bottom:77px; overflow:hidden; width:890px; margin:auto;}
.zhb_title{ font-size:24px; font-weight:normal; color:#81807e; line-height:35px; text-align:center; height:auto; overflow:hidden; width:100%;}


.zhb_xc{ height:514px; padding-top:30px; width:100%; min-width:1200px; background:url(../images/outdoors_b_2_r2_c1.jpg) no-repeat center top;}
.zhb_xc h1{ color:#fff;}
.zhb_xcm{height:auto; display:block; overflow:hidden; 
width:890px; margin:auto; font-size:18px; color:#fff; line-height:30px; text-align:left;}

.zhb_zl{ height:756px;padding-top:30px; width:100%; min-width:1200px; background:url(../images/outdoors_b_2_r3_c1.jpg) no-repeat center top;}
.zhb_zl h1{ color:#fff;}
.zhb_zlm{height:auto; display:block; overflow:hidden; width:1200px; margin:auto; font-size:14px; color:#fff; line-height:30px; text-align:center;}
.zhb_z_l{height:515px; display:block; overflow:hidden; width:518px; padding:24px; background:rgba(255,255,255,.6);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99FFFFFF,endcolorstr=#99FFFFFF);animation: fade-in;
	animation-duration: 4s;
	-webkit-animation: fade-in 5.7s; }
.zhb_z_l h2{ font-size:22px; color:#333; line-height:35px;}
.zhb_z_l ul{ height:auto; overflow:hidden; width:100%; list-style:none}
.zhb_z_l ul li{ height:auto; text-align:left; overflow:hidden; line-height:35px; padding:7px 0px; width:100%;  font-size:14px; color:#474746;}
.zhb_z_l ul li i{ padding:0px 6px; border-radius:100px; margin-right:15px; background:#c39061; color:#fff; font-style:normal;}


.zhb_csnm{ height:auto; display:block; padding-bottom:67px; line-height:30px; color:#807f7d; overflow:hidden; width:740px; margin:auto;}


.zhb_tb{ height:550px; width:100%; min-width:1200px; background:#fbf7f6;}
.zhb_tbm{height:auto; display:block; overflow:hidden; width:1200px; margin:auto;}
.zhb_tb2{ height:auto; width:100%; min-width:1200px; padding-bottom:50px; background:#fbf7f6;}


table.altrowstable {
	font-family:'SourceHanSansCN';
	font-size:11px;
	color:#807d7d;
	border-width: 1px;
	border-color: #dfdfdf;
	border-collapse: collapse; font-size:14px;
}
table.altrowstable th {
	border-width: 1px; 
	border-style: solid;
	border-color: #dfdfdf; line-height:20px; padding:10px 0px; font-weight:normal;
}
table.altrowstable td {
	border-width: 1px; line-height:35px;
	border-style: solid;
	border-color: #dfdfdf; font-size:14px;
}
table.altrowstable td i{ /*padding-left:45px;*/}
table.altrowstable td.ft_co{ color:#9e9e9e}
table.altrowstable td img{ vertical-align:middle;}
table.altrowstable td a img{ border:none}
table.altrowstable td.td_right{ color:#807d7d}
table.altrowstable td.beizhu{ line-height:25px; color:#9e9d9b; padding:15px 0px;}
table.altrowstable td.beizhu p{ padding:0px 15px;}
table.altrowstable td.td_title{ color:#615f5f; text-align:center; font-size:18px; font-weight:bold;}
.oddrowcolor{
	background-color:#fbf7f6;
}
.evenrowcolor{
	background-color:#fff;
}
.zhb_bor_ft{ border-bottom:1px solid #dfdfdf;}
.zhb_bor_xl{ line-height:25px; width:100%; padding-left:10%;}

.zhb_tx{ height:510px; width:100%; min-width:1200px; background:url(../images/outdoors_d_r2_c1.jpg) no-repeat center top}
.zhb_txm{text-align:center;height:auto; display:block; overflow:hidden; width:1000px; margin:auto; font-size:14px; color:#fff; line-height:30px; text-align:center;}
ul.zhb_tx_l{ height:auto; overflow:hidden; display:inline-block;
text-align:left;list-style:none; }
ul.zhb_tx_l  li{ 
	overflow:hidden; 
	background:rgba(225,225,225,.76); 
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#C8FFFFFF,endcolorstr=#C8FFFFFF); 
	line-height:30px; 
	width:490px;
	height:154px; 
	padding:40px;
	#width:410px;
	#height:74px;
	font-size:18px; 
	color:#333; 
	text-align:left; 
	float:left; 
	margin-bottom:25px;
	}
ul.zhb_tx_l  li i{ padding:5px 10px; margin-right:15px; background:#c39061; color:#fff; font-style:normal;}
ul.zhb_tx_l  li.zhb_right{ float:right}
ul.zhb_tx_l  li.li1,ul.zhb_tx_l  li.li4{animation: fade-in;
	animation-duration: 2s;
	-webkit-animation: fade-in 2.7s;}
ul.zhb_tx_l  li.li2,ul.zhb_tx_l  li.li5{animation: fade-in;
	animation-duration: 2.2s;
	-webkit-animation: fade-in 3.7s;}
	ul.zhb_tx_l  li.li3,ul.zhb_tx_l  li.li6{animation: fade-in;
	animation-duration: 2.4s;
	-webkit-animation: fade-in 4.7s;}
	ul.zhb_tx_l  li.li4{animation: fade-in;
	animation-duration: 2.6s;
	-webkit-animation: fade-in 5.7s;}	

.zhb_ggl{ height:95px; width:100%; min-width:1200px; font-size:24px; background:#c2a78c; text-align:center; color:#fff; line-height:95px;}

/*æ»šåŠ¨*/

/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picList1 li{ width:372px; height:270px; position:relative;  } 
.picList1 .pic{ text-align:center; line-height:0px;  } 
.picList1 .pic img{ width:372px; height:270px;} 
.picList1 li.tj_cp{ width:272px; height:273px; position:relative;  } 
.picList1 li.tj_cp img{ width:272px; height:273px;} 

.picList1 a{ display:block; height:auto; width:100%;}
.picList1 a h1{  height:45px; width:100%; line-height:45px; font-weight:normal; text-decoration:none; color:#fff; background:rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); position:absolute; font-size:18px; left:0px; bottom:0px;}
.picList1 a:hover h1{background:rgba(215,9,58,.65);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99d7093a,endcolorstr=#99d7093a);
 color:#fff}
/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoop1{ overflow:hidden; position:relative;   width:1200px; height:300px;   } 
.leftLoop1 .hd{ overflow:hidden;} 
.leftLoop1 .hd ul{ display:none;}
.leftLoop1 .hd .prev{
	display: block;
	width: 18px;
	height: 46px;
	line-height: 39px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 1px;
	top: 146px;
	color: #333; text-align:center; z-index:999;background:url(../images/prev.png) no-repeat center;
	background-size: 100%;
} 
.leftLoop1 .hd .next{ display: block;
	width: 18px;
	height: 46px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 1px;
	top: 146px;
	color: #333; text-align:center;z-index:999;background:url(../images/next.png) no-repeat center;
	background-size: 100%;}
.leftLoop1 .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px;  } 
.leftLoop1 .hd ul li{ position:relative; _display:inline; float:left;  width:10px; height:10px; overflow:hidden; background:#ccc; margin-right:10px; text-indent:-999px; cursor:pointer; 
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; behavior: url(PIE.htc);} 
.leftLoop1 .hd ul li.on{ background:#f00;  } 
.leftLoop1 .bd{ padding:10px 20px; padding-right:50px;   } 
.leftLoop1 .bd ul{ overflow:hidden; zoom:1; } 
.leftLoop1 .bd ul li{ margin:0 7px; text-align:center; float:left;display:_inline;  } 



/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picList2 li{ width:272px; height:270px; position:relative; background:#f1edec  } 
.picList2 .pic{ text-align:center; line-height:0px;  } 
.picList2 .pic img{ width:272px; height:270px;} 
.picList2 a{ display:block; height:auto; width:100%;}
.picList2 a h1{  height:45px; width:100%; line-height:45px; font-weight:normal; text-decoration:none; color:#888785; position:absolute; left:0px; bottom:0px; font-size:16px;}
.picList2 a:hover h1{ color:#d7093a;}
/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoop2{ overflow:hidden; position:relative;   width:1200px; height:300px;   } 
.leftLoop2 .hd{ overflow:hidden;} 
.leftLoop2 .hd ul{ display:none;}
.leftLoop2 .hd .prev{
	display: block;
	width: 18px;
	height: 30px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 1px;
	top: 146px;
	color: #333; text-align:center; z-index:999; background:url(../images/prev.png) no-repeat center;
	background-size: 100%;
} 
.leftLoop2 .hd .next{ display: block;
	width: 18px;
	height: 30px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 1px;
	top: 146px;
	color: #333; text-align:center;z-index:999;background:url(../images/next.png) no-repeat center;
	background-size: 100%;}
.leftLoop2 .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px;  } 
.leftLoop2 .hd ul li{ position:relative; _display:inline; float:left;  width:10px; height:10px; overflow:hidden; background:#ccc; margin-right:10px; text-indent:-999px; cursor:pointer; 
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; behavior: url(PIE.htc);} 
.leftLoop2 .hd ul li.on{ background:#f00;  } 
.leftLoop2 .bd{ padding:10px 20px;  padding-left:25px;   } 
.leftLoop2 .bd ul{ overflow:hidden; zoom:1; } 
.leftLoop2 .bd ul li{ margin:0 7px; text-align:center; float:left;display:_inline;  } 

.zhb_dortop{background:url(../images/outdoors_r2_c1.jpg) no-repeat center top;}


/*æ»šåŠ¨*/

/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picLists li{ width:372px; height:270px; position:relative;  } 
.picLists .pic{ text-align:center; line-height:0px;  } 
.picLists .pic img{ width:372px; height:270px;} 
.picLists li.tj_cp{ width:272px; height:273px; position:relative;  } 
.picLists li.tj_cp img{ width:272px; height:273px;} 

.picLists a{ display:block; height:auto; width:100%;}
.picLists a h1{  height:45px; width:100%; line-height:45px; font-weight:normal; text-decoration:none; color:#fff; background:rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); position:absolute; font-size:18px; left:0px; bottom:0px;}
/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoops{ overflow:hidden; position:relative;   width:1200px; height:300px;   } 
.leftLoops .hd{ overflow:hidden;} 
.leftLoops .hd ul{ display:none;}
.leftLoops .hd .prev{
	display: block;
	width: 35px;
	height: 39px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 1px;
	top: 146px;
	color: #333; text-align:center; z-index:999;
} 
.leftLoops .hd .next{ display: block;
	width: 35px;
	height: 39px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 1px;
	top: 146px;
	color: #333; text-align:center;z-index:999;}
.leftLoops .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px;  } 
.leftLoops .hd ul li{ position:relative; _display:inline; float:left;  width:10px; height:10px; overflow:hidden; background:#ccc; margin-right:10px; text-indent:-999px; cursor:pointer; 
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; behavior: url(PIE.htc);} 
.leftLoops .hd ul li.on{ background:#f00;  } 
.leftLoops .bd{ padding:10px 20px; padding-right:50px;   } 
.leftLoops .bd ul{ overflow:hidden; zoom:1; } 
.leftLoops .bd ul li{ margin:0 7px; text-align:center; float:left;display:_inline;  } 




/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picList3 li{ width:372px; height:440px; position:relative;  } 
.picList3 li:hover .zhb_dlie a,ul.zhb_grouplist li:hover .zhb_dlie a{ color:#d7093a;}
.picList3 .pic{ text-align:center; line-height:0px;  } 
.picList3 .pic img{ width:372px; height:270px;} 
.picList3 li.tj_cp{ width:272px; height:273px; position:relative;  } 
.picList3 li.tj_cp img{ width:272px; height:273px;} 

.picList3 a{ display:block; height:auto; width:100%;}
.picList3 a h2{  height:45px; width:30%; line-height:45px; font-weight:normal; text-decoration:none; color:#fff; background:rgba(215,8,60,.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fd7083c,endcolorstr=#7Fd7083c); position:absolute; text-align:left; padding-left:10px; font-size:18px; left:0px; top:198px;animation: fade-in;
	/* animation-duration: 1s;
	-webkit-animation: fade-in 2.7s; */}
.picList3 a p{ line-height:25px; padding:15px 10px; text-align:left; font-size:14px; color:#9e9d9b;animation: fade-in;
	animation-duration: 1s;
	-webkit-animation: fade-in 2.7s;}
.picList3 li div.zhb_dlie{animation: fade-in;
	animation-duration: 1s;
	-webkit-animation: fade-in 2.7s;}
/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoop3{ overflow:hidden; position:relative;width:1200px; height:500px;   } 
.leftLoop3 .hd{ overflow:hidden; height:30px;} 

.leftLoop3 .hd .prev{
	display: block;
	width: 18px;
	height: 30px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 1px;
	top: 146px;
	color: #333; text-align:center; z-index:999;background:url(../images/prev.png) no-repeat center;
	background-size: 100%;
} 
.leftLoop3 .hd .next{ display: block;
	width: 18px;
	height: 30px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 1px;
	top: 146px;
	color: #333; text-align:center;z-index:999;background:url(../images/next.png) no-repeat center;
background-size: 100%;}
.leftLoop3 .hd ul{overflow:hidden; zoom:1; width:120px; margin:auto;} 
.leftLoop3 .hd ul li{ position:relative; _display:inline; float:left;  width:12px; height:12px; overflow:hidden; margin-right:10px; text-indent:-999px; cursor:pointer; 
background:url(../images/banner_dot.png) no-repeat left top;} 
.leftLoop3 .hd ul li.on{ background:url(../images/banner_dot1.png) no-repeat left top;  } 
.leftLoop3 .bd{ padding:10px 20px; padding-right:50px;   } 
.leftLoop3 .bd ul{ overflow:hidden; zoom:1; } 
.leftLoop3 .bd ul li{ margin:0 7px; text-align:center; float:left;display:_inline;  } 

/*2222*/
/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picList3s li{ width:281px; text-align:left; height:444px;  } 
.picList3s li a{ text-align:left;padding-left: 48px; }

/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoop3s{ overflow:hidden; position:relative;   width:1200px; height:500px;   } 
.leftLoop3s .hd{ overflow:hidden; height:30px;} 

.leftLoop3s .hd .prev{
	display: block;
	width: 18px;
	height: 30px;
	line-height: 39px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 1px;
	top: 146px;
	color: #333; text-align:center; z-index:999;background:url(../images/prev.png) no-repeat center;
	background-size: 100%;
} 
.leftLoop3s .hd .next{ display: block;
	width: 18px;
	height: 30px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 1px;
	top: 146px;
	color: #333; text-align:center;z-index:999;background:url(../images/next.png) no-repeat center;
background-size: 100%;}
.leftLoop3s .hd ul{overflow:hidden; zoom:1; width:120px; margin:auto;} 
.leftLoop3s .hd ul li{ position:relative; _display:inline; float:left;  width:12px; height:12px; overflow:hidden; background:#d9d8d4; margin-right:10px; text-indent:-999px; cursor:pointer; 
	-webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; behavior: url(PIE.htc);} 
.leftLoop3s .hd ul li.on{ background:#d7083c;  } 
.leftLoop3s .bd{ padding:0px; padding-left:40px;} 
.leftLoop3s .bd ul{ overflow:hidden; zoom:1;margin-left:30px; } 
.leftLoop3s .bd ul li{ margin:0px; text-align:center; float:left;display:_inline;} 

.picList3s li p{
	font-size: 18px;
	color: #474746;
	text-align: left;
	padding: 32px 0 20px; padding-left:48px;
}

.picList3s li a{
	display: block;
	font-size: 14px;
	color: #474746;
	line-height: 30px;
}
.picList3s li:nth-child(2n){
	background: rgba(255,255,255,.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#C8FFFFFF,endcolorstr=#C8FFFFFF);
}
.picList3s li:nth-child(2n+1){
	background: rgba(255,255,255,.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99FFFFFF,endcolorstr=#99FFFFFF);
}


/*åœºåœ°è®¾æ–½*/

.zhb_cdss{ height:auto; width:1200px; margin:auto; 
background:url(../images/outdoors_r4_c2.jpg) no-repeat center top;}

/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picList4 li{ width:336px; height:336px; position:relative; background:rgba(225,225,225,.85); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#C8FFFFFF,endcolorstr=#C8FFFFFF); } 
.picList4 .pic{ text-align:center; line-height:0px;  } 
.picList4 .pic img{ width:336px; height:336px;} 
.picList4 li.tj_cp{ width:336px; height:336px; position:relative;  } 
.picList4 li.tj_cp img{ width:336px; height:336px;} 
.picList4 li:hover a h2,.picList4 li:hover a p{ color:#fff;}
.picList4 li:hover{ background:rgba(215,9,58,.65); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99d7093a,endcolorstr=#99d7093a);}
.picList4 a{ display:block; height:auto; width:100%;}
.picList4 a h2{
	height: 45px;
	width: 334px;
	line-height: 45px;
	font-weight: normal;
	text-decoration: none;
	position: absolute;
	text-align: center;
	font-size: 26px;
	left: 1px;
	bottom: 38px;
	color: #61605f;
}
.picList4 a p{
	line-height: 25px;
	display: block;
	height: 30px;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 9px;
	text-align: center;
	font-size: 16px;
	color: #61605f;
}
/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoop4{ overflow:hidden; position:relative;   width:1200px; height:600px;   } 
.leftLoop4 .hd{ overflow:hidden; height:30px;} 

.leftLoop4 .hd .prev{
	display: block;
	width: 18px;
	height: 30px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 1px;
	top: 146px;
	color: #333; text-align:center; z-index:999;background:url(../images/prev.png) no-repeat center;
	background-size: 100%;
} 
.leftLoop4 .hd .next{ display: block;
	width: 18px;
	height: 30px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 1px;
	top: 146px;
	color: #333; text-align:center;z-index:999;background:url(../images/next.png) no-repeat center;
	background-size: 100%;}
.leftLoop4 .hd ul{overflow:hidden; zoom:1; width:120px; margin:auto;} 
.leftLoop4 .hd ul li{ position:relative; _display:inline; float:left;  width:12px; height:12px; overflow:hidden; background:#d9d8d4; margin-right:10px; text-indent:-999px; cursor:pointer; 
	-webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; behavior: url(PIE.htc);} 
.leftLoop4 .hd ul li.on{ background:#d7083c;  } 
.leftLoop4 .bd{ padding:10px 20px; padding-right:50px; padding-left:50px;   } 
.leftLoop4 .bd ul{ overflow:hidden; zoom:1; } 
.leftLoop4 .bd ul li{ margin:0 7px; margin-left:17px; text-align:center; float:left;display:_inline;  } 


.zhb_houseop{background:url(../images/household_r2_c1.jpg) no-repeat center top;}
.zhb_house_line{ height:auto; overflow:hidden; width:1165px; margin:auto;}
.zhb_huse{ height:444px; width:582px;position:relative; z-index:0;  }


.zhb_huse img,.zhb_huse a img{height:444px; width:582px; border:none; display:block;}
.zhb_hh1{
	height:34px;
	width: 366px;
	position: absolute;
	left: 54px;
	top: 117px; line-height:30px; font-size:24px; color:#fff;
}
.zhb_hp{
	height: 176px;
	width: 366px;
	position: absolute;
	left: 55px;
	top: 163px;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
}
.zhb_left .pbj_title{ display:none;}
.zhb_left .pbj_title a{ display:block; height: 444px; width: 582px;}
.zhb_left .pbj_title.active{ display:block;}

.zhb_left .jsc_title{ display:none;}
.zhb_left .jsc_title a{ display:block; height: 444px; width: 582px;}
.zhb_left .jsc_title.active{ display:block;}

.zhb_left .llqx_title{ display:none;}
.zhb_left .llqx_title a{ display:block; height: 444px; width: 582px;}
.zhb_left .llqx_title.active{ display:block;}

.zhb_huserun{ height:444px; width:583px;}

.zhb_huserun a img{height:444px; width:583px; border:none;}


/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picList5 li{ height:444px; width:583px; position:relative;  } 
.picList5 .pic{ text-align:center; line-height:0px;  } 
.picList5 .pic img{ height:444px; width:583px;} 
.picList5 a{ display:block; height:auto; width:100%;}
/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoop5{ overflow:hidden; position:relative;   width:582px; height:444px; z-index:0;    } 
.leftLoop5 .hd{height:30px; width:100%; position:absolute; z-index:999; left:0px; bottom:0px;} 

.leftLoop5 .hd .prev{
	display: block;
	width: 18px;
	height: 32px;
	line-height: 39px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0px;
	top: -216px;
	color: #333;
	text-align: center;
	z-index: 999; background:url(../images/prev.png) no-repeat center;
	background-size: 100%;
} 
.leftLoop5 .hd .next{ display: block;
	width: 18px;
	height: 32px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0px;
	top: -216px;
	color: #333; text-align:center;z-index:999; background:url(../images/next.png) no-repeat center;
	background-size: 100%;
}
.leftLoop5 .hd ul{overflow:hidden; zoom:1; width:120px; margin:auto;} 
.leftLoop5 .hd ul li{ position:relative; _display:inline; float:left;  width:12px; height:12px; overflow:hidden; margin-right:10px; text-indent:-999px; cursor:pointer; background:url(../images/banner_dot.png) no-repeat left top; } 
.leftLoop5 .hd ul li.on{ background:url(../images/banner_dot1.png) no-repeat left top;  } 
.leftLoop5 .bd{ padding:0px;} 
.leftLoop5 .bd ul{ overflow:hidden; zoom:1; } 
.leftLoop5 .bd ul li{ margin:0px; text-align:center; float:left;display:_inline;  } 

/*222*/
/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picList5s li{ height:444px; width:583px; position:relative;  } 
.picList5s .pic{ text-align:center; line-height:0px;  } 
.picList5s .pic img{ height:444px; width:583px;} 
.picList5s a{ display:block; height:auto; width:100%;}
/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoop5s{ overflow:hidden; position:relative;   width:582px; height:444px;   } 
.leftLoop5s .hd{height:30px; width:100%; position:absolute; z-index:999; left:0px; bottom:0px;} 

.leftLoop5s .hd .prev{
	display: block;
	width: 18px;
	height: 32px;
	line-height: 39px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0px;
	top: -216px;
	color: #333;
	text-align: center;
	z-index: 999; background:url(../images/prev.png) no-repeat center;
	background-size: 100%;
} 
.leftLoop5s .hd .next{ display: block;
	width: 18px;
	height: 32px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0px;
	top: -216px;
	color: #333; text-align:center;z-index:999; background:url(../images/next.png) no-repeat center;
	background-size: 100%;
}
.leftLoop5s .hd ul{overflow:hidden; zoom:1; width:120px; margin:auto;} 
.leftLoop5s .hd ul li{ position:relative; _display:inline; float:left;  width:12px; height:12px; overflow:hidden; margin-right:10px; text-indent:-999px; cursor:pointer;background:url(../images/banner_dot.png) no-repeat left top;} 
.leftLoop5s .hd ul li.on{ background:url(../images/banner_dot1.png) no-repeat left top; } 
.leftLoop5s .bd{ padding:0px;} 
.leftLoop5s .bd ul{ overflow:hidden; zoom:1; } 
.leftLoop5s .bd ul li{ margin:0px; text-align:center; float:left;display:_inline;  } 

/*2016.5.29*/
/* é€šç”¨å›¾ç‰‡åˆ—è¡¨_æ™®é€šå¼ */ 
.picList5_1 li{ height:444px; width:583px; position:relative;  } 
.picList5_1 .pic{ text-align:center; line-height:0px;  } 
.picList5_1 .pic img{ height:444px; width:583px;} 
.picList5_1 a{ display:block; height:auto; width:100%;}
/* å¤šä¸ªå·¦æ»šåŠ¨ - å…¬ç”¨ç±» */ 
.leftLoop5_1{ overflow:hidden; position:relative;   width:582px; height:444px; z-index:0;   } 
.leftLoop5_1 .hd{height:30px; width:100%; position:absolute; z-index:999; left:0px; bottom:0px;} 

.leftLoop5_1 .hd .prev{
	display: block;
	width: 18px;
	height: 32px;
	line-height: 39px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	left: 0px;
	top: -216px;
	color: #333;
	text-align: center;
	z-index: 999; background:url(../images/prev.png) no-repeat center;
	background-size: 100%;
} 
.leftLoop5_1 .hd .next{ display: block;
	width: 18px;
	height: 32px;
	line-height: 39px;

	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0px;
	top: -216px;
	color: #333; text-align:center;z-index:999; background:url(../images/next.png) no-repeat center;
	background-size: 100%;
}
.leftLoop5_1 .hd ul{overflow:hidden; zoom:1; width:120px; margin:auto;} 
.leftLoop5_1 .hd ul li{ position:relative; _display:inline; float:left;  width:12px; height:12px; overflow:hidden; margin-right:10px; text-indent:-999px; cursor:pointer; background:url(../images/banner_dot.png) no-repeat left top; } 
.leftLoop5_1 .hd ul li.on{ background:url(../images/banner_dot1.png) no-repeat left top;  } 
.leftLoop5_1 .bd{ padding:0px;} 
.leftLoop5_1 .bd ul{ overflow:hidden; zoom:1; } 
.leftLoop5_1 .bd ul li{ margin:0px; text-align:center; float:left;display:_inline;  }



.zhb_it{background:url(../images/ITseries_r2_c1.jpg) no-repeat center top;}

.zhb_itteb{ height:auto; overflow:hidden; width:100%; min-width:1200px; margin:auto; margin-bottom:9px; border-bottom:1px solid #d9d7d4;}
.zhb_ittebm{ height:auto; overflow:hidden; width:75%; margin:auto;}
.zhb_ittebm span{ height:auto; overflow:hidden; min-width:110px; width:auto;display:block; text-align:center; color:#807e7c; font-size:14px; cursor:pointer;float:left;line-height:58px;}
.zhb_ittebm span.hover{color:#d7093a;}
ul.zhb_cplist{ height:auto; overflow:hidden; width:1165px; margin:auto;}
ul.zhb_cplist li{ height:372px; width:372px; float:left; margin:9px 8px;}
ul.zhb_cplist li a{ display:block; height:372px; width:372px; position:relative;}
ul.zhb_cplist li a img{display:block; height:370px; width:370px; border:1px solid #d5d0cc;}
.zhb_cppf{height:372px; width:372px; display:none; position:absolute; top:0px; left:0px; background:rgba(215,9,58,.65); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99d7093a,endcolorstr=#99d7093a);}
.zhb_cppfh1{
	height: auto;
	position: absolute;
	left: 85px;
	top: 155px;
	line-height: 35px;
	font-size: px;
	color: #fff;
	font-size: 28px; text-align:center; font-weight:normal;
	border: 1px solid #fff;
	width: 200px;
}

ul.zhb_cplist li a:hover img{border:1px solid #e35c7b;}
ul.zhb_cplist li a:hover .zhb_cppf{ display:block;}

.page{ height:auto; overflow:hidden; width:1165px; margin:50px auto; text-align:center;}
.page a{ padding:9px 15px; line-height:45px; border:1px solid #ddd; text-decoration:none; color:#333; font-size:14px;}
.page b{padding:9px 15px;line-height:45px; border:1px solid #e35c7b; background:#e35c7b;  text-decoration:none; color:#fff; font-size:14px;}
.page .current{padding:9px 15px;line-height:45px; border:1px solid #e35c7b; background:#e35c7b; text-decoration:none; color:#fff; font-size:14px;}

.page a:hover{background:#e35c7b; color:#fff;border:1px solid #d7093a;}




.zhb_group{background:url(../images/group_r2_c1.jpg) no-repeat center top;}

ul.zhb_grouplist{ height:auto; overflow:hidden; width:1165px; margin:auto;}
ul.zhb_grouplist li{ float:left; width:372px; height:450px; margin:0px 8px; position:relative}

ul.zhb_grouplist li img.zhb_gimg{ width:372px; height:270px; border:none; display:block;} 
ul.zhb_grouplist li img.zhb_gimg1{ width:372px; height:372px; border:none; display:block;} 


ul.zhb_grouplist li a{ display:block; height:auto; width:100%;}
ul.zhb_grouplist li a h2{  height:45px;  line-height:45px; font-weight:normal; 
text-decoration:none; color:#fff; background:rgba(215,8,60,.5);
 filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7Fd7093a,endcolorstr=#7Fd7093a);
  position:absolute; text-align:left; 
  padding:0 15px; font-size:18px; left:0px; top:198px;
/* animation: fade-in;
	animation-duration: 2s;
	-webkit-animation: fade-in 2s; */
}
ul.zhb_grouplist li a p{ line-height:25px; padding:15px 10px; text-align:left; font-size:14px; color:#9e9d9b;
animation: fade-in;
	animation-duration: 2s;
	-webkit-animation: fade-in 2.5s;
}
ul.zhb_grouplist li div.zhb_dlie{animation: fade-in;
	animation-duration: 2s;
	-webkit-animation: fade-in 3s;}

.zhb_server{background:url(../images/encoreseries_r2_c1.jpg) no-repeat center top;}

.zhb_commer{background:url(../images/commercial_r2_c1.jpg) no-repeat center top;}
.zhb_cardo{background:url(../images/ck_banner.jpg) no-repeat center top;}
.zhb_canli{background:url(../images/ck_banner1.jpg) no-repeat center top;}

.zhb_commerm{ height:auto; overflow:hidden; width:1165px; margin:auto; background:#f0edeb;}
.zhb_commerm ul{ height:auto; overflow:hidden; width:100%; list-style:none}
.zhb_commerm ul li{ 
	height:457px; 
	overflow:hidden; 
	width:388px; 
	padding:77px 26px; 
	float:left; 
	position:relative;
	#width:336px;
	#height:303px;
	}
.zhb_commerm ul li a img{ display:block; height:208px; width:336px;}
.zhb_commerm ul li a{ display:block; height:auto; overflow:hidden; width:100%;}
.zhb_commerm ul li p{
	display: block;
	height: auto;
	overflow: hidden;
	width: 305px;
	margin: auto;
	margin-top: 20px;
	font-size: 14px;
	color: #9e9d9b;
	text-align: left;
	line-height: 25px;
	position: absolute;
	top: 286px;
	left: 42px;
	z-index: 86;animation: fade-in;  
	animation-duration: 0.5s;  
	-webkit-animation:fade-in 0.5s;
}
.zhb_commerm ul li a h1{
	height: 58px;
	line-height: 58px; text-align:center;
	font-size: 30px;
	color: #fff;
	border: 1px solid #fff;
	position: absolute;
	top: 150px;
	left:119px;
	width: 150px; z-index:87;animation: fade-in;  
	animation-duration: 4s;  
	-webkit-animation:fade-in 3s;
}
.zhb_commermh{ height:457px; width:388px; position:absolute; z-index:85; left:0px; top:0px;background:rgba(215,9,58,.65); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99d7093a,endcolorstr=#99d7093a); display:none;}
.zhb_commerm ul li a:hover .zhb_commermh{ display:block;}
.zhb_commerm ul li a:hover p{ color:#fff;}

ul.zhb_commx{ height:auto; overflow:hidden; width:1165px; margin:auto; list-style:none; padding-bottom:100px;}
ul.zhb_commx li{ height:273px; width:273px; float:left; margin:0px 8px; overflow:hidden; position:relative;}
ul.zhb_commx li a img{ border:none;height:273px; width:273px; }
ul.zhb_commx li a h1{ height:30px; width:100%; text-align:center; position:absolute; left:0px; bottom:0px; font-size:16px; color:#807e7d; text-decoration:none; z-index:66;animation: fade-in;  
	animation-duration: 4s;  
	-webkit-animation:fade-in 3.5s;}
.zhb_mxc{ height:273px; width:273px; position:absolute; display:none; left:0px; bottom:0px;background:rgba(215,9,58,.65); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99d7093a,endcolorstr=#99d7093a); z-index:65}
ul.zhb_commx li a:hover h1{ color:#fff;}
ul.zhb_commx li a:hover .zhb_mxc{ display:block;}

.zhb_cardio{ height:445px; overflow:hidden; width:1165px; margin:auto;}
.zhb_card{ height:445px; width:582px; position:relative;}
.zhb_cards{ padding:0px 136px; padding-top:99px;}
.zhb_cards h1{ font-size:48px; font-weight:normal; color:#333;}
.zhb_cards p{ font-size:18px; font-weight:normal; line-height:30px; color:#333;}

.zhb_cardm{ height:445px; width:582px; position:relative;}
.zhb_car1{ background:#d9ccbf;}
.zhb_car2{ background:#b6bbc2;}

.zhb_sjx{ height:46px; width:26px; position:absolute; top:177px;z-index: 10; right: -26px;}
.zhb_sjx2{
	height: 46px;
	width: 26px;
	position: absolute;
	left: -26px;
	top: 177px;
	z-index: 10;
}

.zhb_dttebm{ height:auto; overflow:hidden; width:444px; margin:auto; padding-top:20px;}
.zhb_dttebm span{ height:75px; overflow:hidden; width:222px; display:block; text-align:center; color:#fff; font-size:18px; cursor:pointer;float:left; background:url(../images/group1_r2_c3.jpg) no-repeat center top; line-height:45px;}
.zhb_dttebm span.hover{color:#61605f;background:url(../images/group1_r2_c2.jpg) no-repeat center top;}
.zhb_dtfl{ height:auto; overflow:hidden; width:568px; margin-bottom:40px;}
.zhb_dtcomt{ height:auto; overflow:hidden; width:1165px; margin:auto;}
.zhb_dtcomta{height:auto; overflow:hidden; width:100%; min-width:1165px; background:#faf7f5; padding-bottom:80px;}



/*æ’­æ”¾å™¨*/
.gallery{  padding:0px; text-align:left; height:532px; overflow:hidden;  } 
.gallery .bd{
	height:448px;
}
.gallery .bd ul{
	 width: 4332px;
	position: relative;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	z-index:0;
}
.gallery .bd li{
	float: left;
	width: 722px;
}
.gallery .bd li .pic{ line-height:0px;  } 
.gallery .bd li .bg,.gallery .bd li .title{ display:none;  } 
.gallery .bd li img{ width:720px; height:448px;border:1px solid #ccc;   } 
.gallery .hd{ position:relative; padding:0 15px; margin:auto; margin-top:10px; zoom:1; width:545px;height:70px; } 
.gallery .hd .tempWrap{ margin-left:90px;  } 
.gallery .hd ul{ overflow:hidden; zoom:1; /* margin-left: 90px; */ float:left;} 
.gallery .hd li{ width:80px; float:left; padding-top:4px; text-align:center; cursor:pointer;   } 
.gallery .hd li img{ width:70px; height:70px; border:1px solid #fff; padding:2px;   } 
.gallery .hd li.on{ background:url("images/icoUp.gif") no-repeat center 0;  } 
.gallery .hd li.on img{ border:1px solid #fff;border-bottom:1px solid #d7093a; background:#fff;   } 
.gallery .hd .sNext,.gallery .hd .sPrev{ float:left; text-align:center;  width:15px; height:66px; line-height:66px;  border:1px solid #ddd; cursor:pointer; position:absolute;  left:0px; top:4px; } 
.gallery .hd .sNext{ left:auto; right:0px; float:right;} 
.gallery .hd .sNext:hover,.gallery .hd .sPrev:hover{ text-decoration:none; border:1px solid #f60;  } 	
#bdline{ display:block;}
.gallery_qj{ width:80px; padding-top:4px; cursor:pointer; float:left; display:block; position:absolute; top:0px; left:30px;}
.gallery_qj img{ width:70px; height:70px; border:1px solid #fff; padding:2px;   }
.gallery_qj h1{ position:absolute;top:25px; font-weight:normal; left:0px; height:30px; width:100%; text-align:center; font-size:22px; color:#d7093a;}

.gallery_img{width:720px; height:448px;border:1px solid #ccc;}
.gallery_top{ height:448px; border:1px solid #ddd; width:720px; display:none; overflow:hidden; position:relative; }

#smallphoto{height:448px; border:1px solid #ddd; text-align:center;}
/*#smallphoto img{ height:446px;}*/

#threesixty{position:absolute;overflow:hidden;top:0;left:0;width:720px;height:720px;}
#threesixty ol{display: none;}
#threesixty ol li img{ height:auto; overflow:hidden; width:720px; height:448px;}
#threesixty img{position:absolute;top:0px; left:0px;width:720px;height:auto;}
.current-image{visibility:visible;width:100%;}
.previous-image{visibility:hidden;width:0;}
#threesixty .loading{position:absolute;left:50%;top:50%;width:90px;height:90px;margin-left:-45px;margin-top:-50px;display:none;}
#threesixty .loading span{position:absolute;top:50%;width:100%;color:#333;font-size:12px;font-family:'SourceHanSansCN';text-align:center;line-height:1em;margin-top:-0.5em;}
#threesixty em.loading{width:55px;padding:40px 0 0 0;display:block;position:absolute;top:50%;left:50%;margin:-27px 0 0 -27px;background:url(images/loading-ico.gif) no-repeat 10px 0;z-index:999999;text-align:center;font-size:12px;color:#219edf;font-family:'SourceHanSansCN';font-style:normal;}



.zhb_piaotop{ height:648px; width:100%; min-width:1200px;}
.zhb_piaotopm{ height:648px; width:1200px; margin:auto; position:relative;z-index: -1;}

@keyframes fade-in {  
	0% {opacity: 0;}/*åˆå§‹çŠ¶æ€ é€æ˜Žåº¦ä¸º0*/  
	40% {opacity: 0;}/*è¿‡æ¸¡çŠ¶æ€ é€æ˜Žåº¦ä¸º0*/  
	100% {opacity: 1;}/*ç»“æŸçŠ¶æ€ é€æ˜Žåº¦ä¸º1*/  
}  
@-webkit-keyframes fade-in {/*é’ˆå¯¹webkitå†…æ ¸*/  
	0% {opacity: 0;}  
	40% {opacity: 0;}  
	100% {opacity: 1;}  
}  
#wrapper {    
	animation: fade-in;/*åŠ¨ç”»åç§°*/  
	animation-duration: 1.5s;/*åŠ¨ç”»æŒç»­æ—¶é—´*/  
	-webkit-animation:fade-in 1.5s;/*é’ˆå¯¹webkitå†…æ ¸*/  
}  
.zhb_piaoth1{
	height: auto;
	overflow: hidden;
	width: 550px;
	text-align: center;
	position: absolute;
	left: 376px;
	top: 250px;
	color: #fff;
	font-size: 58px;
	animation: fade-in;
	animation-duration: 4s;
	-webkit-animation: fade-in 2.5s;
}
.zhb_piaotp{
	height: auto;
	overflow: hidden;
	width: 447px;
	text-align: center;
	position: absolute;
	left: 376px;
	top: 323px;
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	animation: fade-in;
	animation-duration: 4s;
	-webkit-animation: fade-in 2.7s;
}

#nav .subKindLists{
	display: none;
	position: absolute;
	top: 58px;
	left: -5px;
	width: 80px;
	padding: 0 10px;
	background: rgba(215,9,58,.95);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#E5d7093a,endcolorstr=#E5d7093a);
	z-index:100;
	background:#f5f5f5\9;
}
#nav .subKindLists3{
	left: 0;
	width: 120px;
}
#nav .subKindLists4{
	left: -10px;
	width: 120px;
}
#nav .subKindLists a{
	display: block;
	padding: 0;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #fff;
}
/*#nav .subKindLists a:last-child{
	border-bottom: none;
}*/


#navBg.pos{
	position: fixed !important;
	left: 0;
	top: 0;
	z-index:100000;
	/*z-index:auto\9;*/
}

.ewm{
	display: none;
	position: absolute;
	left: -20px;
	top: 35px;
	z-index: 100001;
}

#household{
	width: 1165px;
}
#household li{
	width: 353px;
	height: 350px;
	margin-right: 23px;
	#width:293px;
	#height:270px;
}
#household li.noMargin{
	margin-right: 0;
}
#household li .p1 i{
	font-size: 30px;
	padding: 5px 15px;
}
#household li .p1{
	font-size: 22px;
	padding-bottom: 20px;
}
#household li .con{
	padding-left: 15px;
	font-size: 16px;
	padding: 6px 0;
	color: #61605f;
	background: url(../images/circle2.png) no-repeat 0 center;
}

#alternatecolor tr .td_right{
	padding-left: 30px;

}


/*3.3*/
#ck_header .ck_right .ck_top1{ font-size:13px;}
#ck_header .ck_right .ck_top1 .line{ padding:0 5px;}
#ck_header .ck_right .ck_top2 .ck_search .ck_searchBtn { padding-top: 2px;#padding:5px 0 0 0;}
.ck_top2 .ck_social{ padding: 4px 0 0 10px;width:120px;}
#ck_header .ck_right .ck_top2 .ck_search input{ width:245px; text-indent: 5px;}
#ck_header .ck_center{ padding-left: 308px;}

#navBg{ /*position:absolute;*/ left:0px; top:0px;}
#nav .subKindLists a{ height:40px; line-height:40px; border-bottom:1px dotted rgba(255,255,255,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7FFFFFFF,endcolorstr=#7FFFFFFF); font-size:15px;}
#ck_header{ background: #faf8f5;}
.zhb_piaotop{ position:relative;z-index:110;}



.ewm{
	display: none;
	position: absolute;
	left: -45px;
	top: 35px;
	z-index: 100001;
}

.wbewm{
	display: none;
	position: absolute;
	left: -45px;
	top: 35px;
	z-index: 100001;
}

#ck_header .ck_right .ck_top1 .ck_xs{
	background:url(../images/fxicon/xs.png) no-repeat left center;
	padding: 0 8px 0 20px;
}
#ck_header .ck_right .ck_top1 .ck_sh{
	background: url(../images/fxicon/sh.png) no-repeat left center;
	padding: 0 8px 0 20px; 
}

/*è¯´æ˜Žä¹¦*/
.zhb_sms {
  background: url(../images/cp-bannerbg.jpg) center 100% no-repeat;position: relative;
}
.zhb_sms .zhb_piaoth1 {
  width: 100%;
  left: 0;
  text-align: center;
  white-space: nowrap;
}
.sms-nav {
  height: 58px;
  line-height: 58px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 58px;
  background-color: rgba(255, 255, 255, 0.76);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#C8FFFFFF,endcolorstr=#C8FFFFFF);
}
.sms-nav h3 {
  float: left;
  font-size: 20px;
  color: #1A1919;
}
.sms-nav ul {
  float: right;
}
.sms-nav li {
  float: left;
  padding-left: 53px;
}
.sms-nav a {
  float: left;
  font-size: 14px;
  color: #474746;
}
.sms-nav li.on a,
.sms-nav li a:hover {
  color: #D7093A;
}
.sms-nav .inner {
  width: 1160px;
  margin: 0 auto;
}
#sms {
  width: 1160px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 45px;
}
.clear {
  clear: both;
}
.sms-search {
  width: 318px;
  height: 32px;
  float: right;
  background-color: #D9D7D4;
  overflow: hidden;
  border: 1px solid #D9D7D4;
  position: relative;
  margin-bottom: 26px;
}
.sms-search .submit {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/sms-search.png) center no-repeat #ffffff;
}
.sms-search .text {
  width: 90%;
  padding-left: 15px;
  height: 30px;
  color: #7F7F7D;
  line-height: 30px;
}
.sms-title {
  text-align: center;
  font-size: 24px;
  color: #807E7D;
  padding: 0 0 35px;
}
.sms-list caption {
  line-height: 48px;
  background-color: #C2A78C;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.sms-list table {
  border-left: 1px solid #EBE8E6;
  border-top: 1px solid #EBE8E6;
}
.sms-list th {
  line-height: 48px;
  background-color: #fff;
  width: 97px;
  text-align: center;
  border-bottom: 1px solid #EBE8E6;
  border-right: 1px solid #EBE8E6;
  font-weight: normal;
}
.sms-list td {
  background-color: #fff;
  width: 33.3%;
  line-height: 48px;
  padding: 0 36px;
  border-bottom: 1px solid #EBE8E6;
  border-right: 1px solid #EBE8E6;
  box-sizing:border-box;
}
.sms-list a:hover {
  color: #DD2D57;
}
.sms-list tr:nth-of-type(2n) th,
.sms-list tr:nth-of-type(2n) td {
  background-color: #FAF7F5;
}
.sms-list .bd-item table {
  border-top: 0px solid #EBE8E6;
}
/*3.17*/
.cptx_bg{ width:100%; background:#f7f7f7; padding:0 0 95px 0;}
.cptx_list_bg{ background:#d9ccbf;}
.cptx_bg .ptb40 {
	padding: 30px 0px;
}
.cptx_list li{ float:left; width:50%; height:220px; color:#fff; text-align:right; padding:70px 0 0 0;}
.cptx_list li .sz{ font-size:48px; float:left; margin:-15px 20px 0 0; width:6%; text-align:left;}
.cptx_list li p{ font-size:18px; float:left; line-height:36px; width:88%;text-align:left;}
.cptx_list .bg1,.cptx_list .bg4,.cptx_list .bg7,.cptx_list .bg10{ background:#c2a78c;}
.cptx_list .bg2,.cptx_list .bg5,.cptx_list .bg8{ background:#b6bbc2;}
.cptx_list .bg3,.cptx_list .bg6,.cptx_list .bg9{ background:#d9ccbf;}
.cptx_list li .wzjj{ width:582px; display: inline-block; text-align: left;}
.cptx_list li .wzjj1{ width:582px;text-align:left; padding:0 0 0 50px; display:inherit;}



/*3.19äº§å“å–ç‚¹*/
#household .zhb_tx_l1 li{ height:180px;}


/*3.25å¤´éƒ¨*/
#ck_header .ck_left {
	padding: 25px 0 0 30px;
	width: 15%;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}
#ck_header .ck_center{
	float: left; 
	width: 45%; 
	padding: 0 0 0 18%; 
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
	#width:45%;
	#text-align:right;
	#padding:0;
}
#ck_header .ck_right {
	padding-right: 30px;
	width: 30%;
	text-align: right;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
}

/*4.20é¦–é¡µè§†é¢‘*/
.video ul li p{ position:absolute; left:0px; bottom:0px; width:100%; height:36px; line-height:36px; text-align:center; font-size:12px; background:rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); color:#fff;}


/*4.24å¯¼èˆª*/
/*nav*/
/*#navBg{ width:100%; position:absolute; background: rgba(215,9,58,0.95);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#E5d7093a,endcolorstr=#E5d7093a); height:58px;}
#navBg .nav{ text-align:center;}
#navBg .nav .navTxt{ text-align: left; display: inline-block;}
#navBg .nav .navTxt li{ float:left; font-size:16px; height:58px; line-height:58px; text-align:center; }
#navBg .nav .navTxt li a{ color:#fff; display:inline-block; height:58px; padding:0 20px;}*/



/*xlyä¸‹æ‹‰é¡µ*/
/*#navBg .nav .navTxt li{ position:relative;z-index:1;}
#navBg .nav .navTxt li .xly{ width:80px; position:absolute; left:-5px; z-index:100; background: rgba(215,9,58,0.95);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#E5d7093a,endcolorstr=#E5d7093a); display:none;}
#navBg .nav .navTxt li .xly li{ font-size:16px; height:40px; line-height:40px; font-size: 16px; text-align: center; }
#navBg .nav .navTxt li .xly li a{ width:80px; text-align:center; display:inline-block; padding:0 20px; color:#fff; height: 40px;line-height: 40px; border-bottom: 1px dotted rgba(255,255,255,0.5); border-bottom: 1px dotted #c7c6c5\9; font-size: 15px;}
#navBg .nav .navTxt li .xly1{ width:120px; left:0px; }
#navBg .nav .navTxt li .xly2{ width:120px; left:-10px; }
#navBg .nav .navTxt li .xly1 li a,#navBg .nav .navTxt li .xly2 li a{ display:inline-block; width:120px; }*/

/*äºŒçº§å¯¼èˆª*/
#navBg{ width:100%; background: rgba(215,9,58,0.95);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#E5d7093a,endcolorstr=#E5d7093a); height:58px; float:left;width:100%;}
#navBg .nav{ text-align:center;}
#navBg .nav #jsddm{ text-align: left; display: inline-block; *display: inline-block; #width:800px; #margin:0 auto;}

	#jsddm li
	{	float: left;
		list-style: none;
		font-size: 16px;
		position:relative;
		#z-index:99;
		}

	#jsddm li a
	{	display: block;
		padding: 0px 20px;
		text-decoration: none;
		color: #fff;
		white-space: nowrap;
		height:58px; line-height:58px;}

	#jsddm li a:hover
	{}

		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			left:-5px;
			z-index: 300;
			}
		#jsddm li .xly1{ left:0;}
		#jsddm li .xly2{ left:-10px;}
		#jsddm li ul li
		{	float: none;
			display: inline;
			font-size:15px;}

		#jsddm li ul li a
		{	width: auto;
			background: rgba(215,9,58,0.95);
			filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#E5d7093a,endcolorstr=#E5d7093a);
			color: #fff;
			width:230px;
			#width:230x;
			height:40px;
			line-height:40px;
			text-align:center;
			border-bottom: 1px dotted rgba(255,255,255,0.5);
			border-bottom: 1px dotted #c7c6c5\9;}
		#jsddm li .xly li a{
			width:135px;
			#width:135px;
			}
		#jsddm li .xly1 li a{
			width:180px;
			#width:180px;
			}
		#jsddm li .xly2 li a{
		width: 200px;
		#width:200px;
		}
