
.wrapper {
    margin: 20px auto 25px;
    width: 980px;
}
@media (max-width: 767px) {
.wrapper {
    margin: 20px 10px 15px;
    width: auto;
}
}
@media (min-width: 768px) and (max-width: 979px) {
.wrapper {
    margin: 20px auto 25px;
    width: 744px;
}
}
body {
    background-attachment: scroll !important;
    background-color: #ffffff;
    background-image: url("catalog/view/theme/sellya/image/patterns/p193.png");
    background-position: center top !important;
    background-repeat: repeat !important;
}

body, label, .dropdown_l li a, .box .box-content .box-content-information a, .box-product .name a, .box-product .l_column .name a, .box-category > ul > li > a, .box-category > ul > li a.active, .box-category > ul > li ul > li > a, .box-category-home > div.span2 > div > ul > li > a, .box-category-home > div.span3 > div > ul > li > a, .box-manufacturers-home > div.span2 > div > ul > li > a, .box-manufacturers-home > div.span3 > div > ul > li > a, .product-list .name a, .product-grid .name a, .product-grid .description, .product-name h1, .product-info .description a, .product-info .wishlist-compare a, .product-info .review a, .product-info a, .product-related .name a, .htabs a, .tags a, .es-carousel .name a, .blogCategories li a, .blogModule .title, .blogModule li a, .articleHeader span a, .articleBottom #articleRelated a {
    color: #545454;
}
.breadcrumb a, .category-list a, table.form > * > * > td {
    color: #545454 !important;
}
#t-header #search input, .pagination .results, .help, .box-category-home > div.span2 > div.all a, .box-category-home > div.span3 > div.all a, .product-grid .wishlist a, .product-grid .compare a, .product-list .wishlist a, .product-list .compare a, .product-list .description, .product-info .description span, .product-info .cart, .product-info .cart div > span, .product-info .cart .minimum, #content .content .reviews-left span, .breadcrumb, .product-info .review, .blogModule .info, .articleHeader span, .updateInfo, .blogModule li, #commentRespond .note, .commentList li .created {
    color: #a3a3a3;
}
a, a:visited, a b, .pagination .links b, .product-custom-block a {
    color: #458345;
}
.es-nav span:hover, .product-related .bx-wrapper div.bx-next:hover, .product-related .bx-wrapper div.bx-prev:hover, #toTopHover, .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover, .camera_prevThumbs:hover, .camera_nextThumbs:hover, .camera_prev:hover, .camera_next:hover, .camera_commands:hover, .camera_thumbs_cont:hover, .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span, .flex-control-paging li a.flex-active {
    background-color: #458345 !important;
}
a:hover {
    color: #458345 !important;
}
.product-list .wishlist, span.wishlist, .product-grid .wishlist {
    background: transparent url("catalog/view/theme/sellya/image/sellya-wishlist-1.png") no-repeat scroll left center;
}
.product-list .compare, span.compare, .product-grid .compare {
    background: transparent url("catalog/view/theme/sellya/image/sellya-compare-1.png") no-repeat scroll left center;
}
.wrapper {
    background-attachment: scroll !important;
    background-color: #458345;
    background-image: none;
    background-position: center top !important;
    background-repeat: repeat !important;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
#column-left, #column-right {
    border-radius: 0;
}
.box .box-heading {
    background-color: #458345 !important;
    background-image: none;
    border-radius: 0;
}
.box .box-heading h2, .boxPlain .box-heading span {
    color: #ffffff;
}
.box {
    background-color: #ffffff !important;
    border-radius: 0;
}
.box-category > ul > li + li, .box-product > .l_column + .l_column, .box-product ol li + li {
    border-top: 1px solid #ffffff !important;
}
#content, #content-home, #content-blog {
    background-color: #ffffff !important;
    border-radius: 0;
}
.product-list > div + div, .product-list > div + div.span-first-child, .pagination, .product-filter {
    border-top: 1px solid #f6f6f6 !important;
}
.product-filter, #content .l_column, #content .box .box-heading h2, .bestseller h2, .featured h2, .latest h2, .special h2, .articleCat {
    border-bottom: 1px solid #f6f6f6 !important;
}
.product-compare, .box-category-home > div.span2, .box-category-home > div.span3 {
    border-left: 1px solid #f6f6f6;
}
.product-info .left .image, .product-info .image-additional img {
    border: 1px solid #f6f6f6;
}
.product-manufacturer-logo-block, .product-related, .product-custom-block, .product-share, .right-sm-tags {
    border-bottom: 1px solid #f6f6f6 !important;
}
.product-manufacturer-logo-block, .product-related > div + div {
    border-top: 1px solid #f6f6f6;
}
@media screen and (max-width: 767px) {
.product-compare {
    border-left: medium none;
}
}
.box-category-home > div.span-first-child {
    border: medium none;
}
.box-manufacturers-home > div.span2, .box-manufacturers-home > div.span3 {
    border-bottom: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
}
.box-manufacturers-home > div.span-first-child {
    border: 1px solid #f6f6f6;
}
#content-home .span {
    margin-left: 20px;
    width: 900px;
}
.box-product > div {
    width: 200px !important;
}
.box-product > div > div.pbox, .es-carousel ul li div.pbox {
    padding: 5px 4px 10px;
}
.es-carousel-banners ul li {
    margin: 5px 19px 20px 0 !important;
}
@media (max-width: 767px) {
#content-home {
    float: left;
    width: 100%;
}
#content-home .span {
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    width: auto;
}
.es-carousel-wrapper, .es-carousel-banners {
    max-width: 243px;
}
.es-carousel ul li {
    margin-right: 0 !important;
}
}
@media (min-width: 768px) and (max-width: 979px) {
#content-home .span {
    margin-left: 10px;
    width: 705px;
}
.box-product .span3 {
    margin-left: 13px;
}
.es-carousel ul li {
    margin-right: 12px !important;
}
}
.camera_wrap, .flexslider {
    margin: 0 0 20px !important;
}
.ei-slider {
    margin: 0 auto 70px;
}
.price, .total {
    color: #458345 !important;
}
.price-old, .wishlist-info tbody .price s {
    color: #a3a3a3 !important;
}
.price-new {
    color: #458345 !important;
}
.price-tax, .product-info .price .reward, .product-info .price .discount {
    color: #a3a3a3 !important;
}
a.button, input.button {
    background-color: #458345;
    border-color: #458345;
    color: #ffffff !important;
}
a.button:hover, input.button:hover, .ei-title h4 a.button:hover {
    background-color: #62b4d1;
    border-color: #559cb5 #5ca9c4 #5ca9c4 #559cb5;
    color: #ffffff !important;
}
a.button-exclusive, input.button-exclusive {
    background-color: #458345;
    border-color: #458345;
    color: #ffffff !important;
}
a.button-exclusive:hover, input.button-exclusive:hover {
    background-color: #e0365d;
    border-color: #a12744 #be2e50 #be2e50 #a12744;
    color: #ffffff !important;
}
a.button, input.button, a.button-exclusive, input.button-exclusive {
    border-radius: 0;
}
#header {
    background-attachment: scroll !important;
    background-image: none;
    background-position: center top !important;
    background-repeat: repeat !important;
}
#t-header #logo {
    margin-left: 25px;
}
#t-header {
    min-height: 115px;
}
#t-header #search {
    right: 320px;
    top: 50px;
    width: 300px;
}
@media (max-width: 767px) {
#t-header #logo {
    margin-left: inherit;
}
#t-header #search {
    right: inherit;
    top: 5px;
    width: 261px;
}
}
@media (min-width: 768px) and (max-width: 979px) {
#t-header .links a + a {
    margin-left: 7px;
    padding-left: 7px;
}
#t-header #search {
    right: 270px;
    width: 200px;
}
}
#t-header #search input {
    font-size: 13px;
    font-weight: normal;
}
#t-header #search input {
    border-color: #dfdfdf;
}
#t-header .links a {
    color: #545454;
}
#t-header .links a:hover {
    color: #458345 !important;
}
#t-header .links a + a {
    border-left: 1px solid #e3e3e3;
}
#t-header #cart .heading a span {
    color: #458345 !important;
}
#t-header #cart.active .heading a span {
    color: #458345 !important;
}
#t-header #cart .heading a span {
    background: rgba(0, 0, 0, 0) url("catalog/view/theme/sellya/image/icon_cart_1.png") no-repeat scroll 96% 50%;
    padding: 10px 40px 10px 0;
}
.dropdown_l .selected_l {
    color: #545454;
}
.dropdown_l ul, #t-header #cart .content {
    background: #ffffff none repeat scroll 0 0;
    border-top: 3px solid #333333;
}
#menu {
    background-color: #458345 !important;
    background-image: none;
    background-repeat: repeat !important;
    border-radius: 0;
}
@media (min-width: 768px) and (max-width: 979px) {
#menu {
    background-image: none;
    background-repeat: repeat !important;
}
}
#menu_oc > ul > li > a, #menu-category-wall > ul > li > a, #menu > ul > li > span, #menu > ul > li > a, #menu_brands > ul > li > a, .menu_links a, #menu_informations > ul > li > a, #menu_your_account > ul > li > span, #menu_custom_block > ul > li > a, #menu_contacts > ul > li > a, #menu #homepage a, .navbar .brand {
    font-size: 15px !important;
    font-weight: normal !important;
    text-transform: uppercase;
}
.navbar-inner {
    background-color: #458345;
    border-color: #458345;
}
#menu #homepage {
    background-color: #333333 !important;
    margin-left: 0;
}
#menu #homepage:hover {
    background-color: #458345 !important;
}
#menu #homepage a {
    color: #ffffff !important;
}
#menu #homepage a:hover {
    color: #ffffff !important;
}
#menu > ul > li, #menu-category-wall > ul > li, #menu_oc > ul > li {
    background-color: #458345 !important;
}
#menu > ul > li:hover, #menu-category-wall > ul > li:hover, #menu_oc > ul > li:hover {
    background-color: #458345 !important;
}
#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu_oc > ul > li > div {
    border-top: 2px solid #458345 !important;
}
#menu > ul > li > span, #menu-category-wall > ul > li > a, #menu > ul > li > a, #menu_oc > ul > li > a, .navbar .brand {
    color: #ffffff !important;
}
#menu > ul > li > span:hover, #menu-category-wall > ul > li > a:hover, #menu > ul > li > a:hover, #menu_oc > ul > li > a:hover {
    color: #ffffff !important;
}
div.menu-category-wall-sub-name a {
    color: #545454 !important;
}
#menu_brands > ul > li {
    background-color: #458345 !important;
}
#menu_brands > ul > li:hover {
    background-color: #458345 !important;
}
#menu_brands > ul > li > div {
    border-top: 2px solid #458345 !important;
}
#menu_brands > ul > li > a {
    color: #ffffff !important;
}
#menu_brands > ul > li > a:hover {
    color: #ffffff !important;
}
.menu_links {
    background-color: #458345 !important;
}
.menu_links:hover {
    background-color: #458345 !important;
}
.menu_links a {
    color: #ffffff !important;
}
.menu_links:hover a {
    color: #ffffff !important;
}
#menu_informations > ul > li {
    background-color: #458345 !important;
}
#menu_informations > ul > li:hover {
    background-color: #458345 !important;
}
#menu_informations > ul > li > div {
    border-top: 2px solid #458345 !important;
}
#menu_informations > ul > li > a {
    color: #ffffff !important;
}
#menu_informations > ul > li > a:hover {
    color: #ffffff !important;
}
#menu_your_account > ul > li {
    background-color: #458345 !important;
}
#menu_your_account > ul > li:hover {
    background-color: #458345 !important;
}
#menu_your_account > ul > li > div {
    border-top: 2px solid #458345 !important;
}
#menu_your_account > ul > li > span {
    color: #ffffff !important;
}
#menu_your_account > ul > li > span:hover {
    color: #ffffff !important;
}
#menu_custom_block > ul > li {
    background-color: #458345;
}
#menu_custom_block > ul > li:hover {
    background-color: #458345 !important;
}
#menu_custom_block > ul > li > div {
    border-top: 2px solid #458345 !important;
}
#menu_custom_block > ul > li > a {
    color: #ffffff !important;
}
#menu_custom_block > ul > li > a:hover {
    color: #ffffff !important;
}
#menu_contacts > ul > li {
    background-color: #458345 !important;
}
#menu_contacts > ul > li:hover {
    background-color: #458345 !important;
}
#menu_contacts > ul > li > div {
    border-top: 2px solid #458345 !important;
}
#menu_contacts > ul > li > a {
    color: #ffffff !important;
}
#menu_contacts > ul > li > a:hover {
    color: #ffffff !important;
}
#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu > ul > li > div > ul > li > div, #menu_oc > ul > li > div, #menu_brands > ul > li > div, #menu_informations > ul > li > div, #menu_your_account > ul > li > div, #menu_custom_block > ul > li > div, #menu_contacts > ul > li:hover > div {
    background-color: #ffffff !important;
}
#menu, #menu_informations h6, #menu_your_account h6, #menu_custom_block h6, #menu_contacts h6, #menu_contacts h6, #menu_contacts span {
    color: #545454 !important;
}
#menu > ul > li ul > li > a, #menu-category-wall > ul > li ul > li > a, #menu > ul > li > div > ul > li > a, #menu > ul > li > div > ul > li ul > li > a, #menu > ul > li > div > ul > li > div > ul > li > a, #menu_oc > ul > li > div > ul > li > a, #menu_brands a, #menu_informations > ul > li ul > li > a, #menu_your_account > ul > li ul > li > a, #menu_custom_block > ul > li ul > li > a {
    color: #000000 !important;
}
#menu > ul > li ul > li > a:hover, div.menu-category-wall-sub-name a:hover, #menu-category-wall > ul > li ul > li > a:hover, #menu > ul > li > div > ul > li > div > ul > li > a:hover, #menu_oc > ul > li > div > ul > li > a:hover, #menu_brands a:hover, #menu_informations > ul > li ul > li > a:hover, #menu_your_account > ul > li ul > li > a:hover, #menu_custom_block > ul > li ul > li > a:hover {
    color: #458345 !important;
}
#menu_brands > ul > li > div > div {
    border-left: 1px solid #f3f3f3;
}
#menu-category-wall > ul > li > div > div.span-first-child, #menu_brands > ul > li > div > div.span-first-child {
    border-left: medium none;
}
#menu > ul > li ul > li > a:hover, #menu > ul > li > div > ul > li ul > li > a:hover, #menu_oc > ul > li ul > li > a:hover, div.menu-category-wall-sub-name + div > ul > li:hover, #menu_informations > ul > li ul > li > a:hover, #menu_your_account > ul > li ul > li > a:hover, #menu_custom_block > ul > li ul > li > a:hover {
    background-color: #458345 !important;
}
div.menu-category-wall-sub-name, #menu_your_account h6, #menu_informations h6, #menu_custom_block h6, #menu_contacts h6 {
    background-color: #458345 !important;
}
#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu > ul > li > div > ul > li > div, #menu_oc > ul > li > div, #menu_brands > ul > li > div, #menu_informations > ul > li > div, #menu_your_account > ul > li > div, #menu_custom_block > ul > li > div, #menu_contacts > ul > li > div {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) !important;
}
.box-product > div.span3, .es-carousel ul li, .product-grid > div {
    background-color: #9FB999!important;
}
.box-product > div.span3:hover, .es-carousel ul li:hover, .product-grid > div:hover {
    background-color: #e9f0f4 !important;
}
.box-product > div.span3 > div.pbox, .es-carousel ul li div.pbox, .product-grid > div > div.pbox {
    border: 1px solid #00180B!important;
}
.box-product > div.span3 > div.pbox:hover, .es-carousel ul li div.pbox:hover, .product-grid > div > div.pbox:hover {
    border: 1px solid #e9f0f4 !important;
}
.box-product > div.span3, .es-carousel ul li, .product-grid > div, .box-product > div.span3 > div.pbox, .es-carousel ul li div.pbox, .product-grid > div > div.pbox {
    border-radius: 0;
}
span.sale-icon {
    background-color: #458345 !important;
}
.product-info .buy {
    background-color: #f3f3f3 !important;
    border-radius: 0;
}
.product-info .description, .product-info .options, .product-info .cart, .product-info .review {
    border-top: 1px solid #ededed !important;
}
.htabs {
    border-bottom: 10px solid #f3f3f3;
}
.htabs a {
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
}
.htabs a.selected {
    background: #f3f3f3 none repeat scroll 0 0;
}
.tab-content {
    border-bottom: 10px solid #f3f3f3;
    border-left: 10px solid #f3f3f3;
    border-right: 10px solid #f3f3f3;
}
.ei-slider {
    background-color: #ffffff;
    background-image: url("catalog/view/theme/sellya/image/bg_prod_slider_1.png");
    background-position: center top !important;
    background-repeat: repeat !important;
}
@media screen and (max-width: 767px) {
.ei-slider {
    background-color: #ffffff;
    background-image: none;
}
}
.ei-title h2 a {
    color: #545454;
}
.ei-title h3 a {
    color: #a3a3a3;
}
.ei-title h4 a {
    color: #458345;
}
.ei-title h2 a:hover, .ei-title h3 a:hover, .ei-title h4 a:hover, .ei-slider-thumbs li a:hover {
    color: #458345 !important;
}
.ei-slider-thumbs li a {
    background: #f3f3f3 none repeat scroll 0 0;
    color: #545454;
}
.ei-slider-thumbs li a:hover {
    background: #f9f9f9 none repeat scroll 0 0;
}
.ei-slider-thumbs li.ei-slider-element {
    background: #458345 none repeat scroll 0 0;
}
.custom_box_left #custom_box_icon, .custom_box_right #custom_box_icon {
    background-color: #458345;
}
.custom_box_right .custom_box, .custom_box_left .custom_box {
    border: 4px solid #458345;
}
#footer_cnc {
    background-color: #1f1f1f;
    background-image: none;
    background-position: center top;
    background-repeat: repeat;
    border-top: 3px solid #000000;
}
#footer_cnc h3 {
    border-bottom: 1px solid #2e2e2e !important;
    color: #458345 !important;
}
#footer_cnc_content, #footer_cnc_content span {
    color: #a3a3a3 !important;
}
#footer_cnc a {
    color: #458345 !important;
}
#footer_cnc a:hover, #footer_cnc .twitter a:hover {
    color: #ffffff !important;
}
#footer_cnc .twitter a {
    color: #616161 !important;
}
#footer_cnc .twitter ul li {
    background: transparent url("catalog/view/theme/sellya/image/icons_footer/icon_twitts_11.png") no-repeat scroll 96% 7px;
}
#footer_info, #footer_info_phone {
    background-color: #191919;
    background-image: none;
    background-position: center top;
    background-repeat: repeat;
}
#footer_info h3 {
    border-bottom: 1px solid #262626 !important;
    color: #458345 !important;
}
#footer_info a {
    color: #a3a3a3 !important;
}
#footer_info a:hover {
    color: #ffffff !important;
}
#footer_cr {
    background-color: #191919;
    background-image: none;
    background-position: center top;
    background-repeat: repeat;
    border-top: 1px solid #1f1f1f;
}
#footer_cr {
    color: #a3a3a3 !important;
}
#footer_cr a {
    color: #458345 !important;
}
#footer_cr a:hover {
    color: #ffffff !important;
}
#footer_cr span {
    color: #545454 !important;
}
#footer_about {
    background-color: #191919;
    background-image: none;
    background-position: center top;
    background-repeat: repeat;
    border-top: 1px solid #1f1f1f;
}
#footer_about {
    color: #545454 !important;
}
#footer_about a {
    color: #458345 !important;
}
#footer_about a:hover {
    color: #ffffff !important;
}

.price, .ei-title h4 a {
    font-family: Droid Sans,Arial,Helvetica,sans-serif !important;
}
.box-product .price, .box-product .price-new, .product-list .price, .product-grid .price, .product-info .price, .es-carousel .price {
    font-weight: normal;
}
a.button, input.button, a.button-exclusive, input.button-exclusive {
    font-family: "Lucida Sans Unicode",Arial,Helvetica,sans-serif !important;
}
a.button, input.button, a.button-exclusive, input.button-exclusive {
    font-weight: normal;
}
a.button, input.button, a.button-exclusive, input.button-exclusive {
    text-transform: uppercase;
}
#t-header #search input {
    font-family: Georgia,Arial,Helvetica,sans-serif !important;
}
#menu_oc > ul > li > a, #menu-category-wall > ul > li > a, #menu > ul > li > span, #menu > ul > li > a, #menu_brands > ul > li > a, .menu_links a, #menu_informations > ul > li > a, #menu_your_account > ul > li > span, #menu_custom_block > ul > li > a, #menu_contacts > ul > li > a, #menu #homepage a, .navbar .brand {
    font-family: Oswald,Arial,Helvetica,sans-serif !important;
}
#t-header #cart .heading a span {
    font-family: PT Sans Narrow,Arial,Helvetica,sans-serif !important;
}
#t-header #cart .heading a span {
    font-size: 20px !important;
    font-weight: normal !important;
}
.box-product .name a, .es-carousel .name a, .product-grid .name a, .product-list .name a, .box-product .l_column .name a {
    font-weight: bold;
}
