body,html{
	margin: 0px;
	padding:0px;
	height: 100%;		
}

#ui-datepicker-div {
	font-size:0.7em;
}

.ui-icon-search {
	cursor: pointer;
}

table.dataTable tbody tr.selected {
	background-color: #b0bed9 !important;
}

#accordion .ui-accordion-content {	
 background: #26211A !important;
}

div#contenidoPagina{
	border-width:0px;
	height: 100%;
	margin: 0px;
}

div#cabeceraPasos{
	width: 100%;
	height: 5%;
	/*margin-right: auto;
	margin-left:auto;*/
	background-color: #FFFFFF;
	min-height: 35px;
}

div.marcoCabecera{
	width: 90%;
	/*margin-right: auto;
	margin-left:auto;*/
}

div.fondoCabecera{
	background-color: #ED6C23;
}

div#cuerpoPrincipal{
	/*width: 90%;*/
	/*height: 90%;*/
	margin-right: auto;
	margin-left:auto;
	background-color: #FFFFFF;
}
/*
div.franjaPrincipal{
	width: 90%;
	margin-right: auto;
	margin-left:auto;
	background-color: #FFFFFF;
}
*/
div#general {
	width: 100%;	
	font-family:Arial, Helvetica, sans-serif;	
	height: 94%;	
	margin: 0px;
	position: relative;
	border-width:0px;
	background-color: #FFFFFF;
}

div#generalSinCabecera {
	width: 100%;	
	font-family:Arial, Helvetica, sans-serif;	
	height: 100%;	
	margin: 0px;
	position: relative;
	border-width:0px;
	background-color: #FFFFFF;
}

div.marcoGrande{
	width: 100%;		
	height: 100%;
	/*position: absolute; error al mostrar en terminos y condiciones*/
	border-width:0px;
	/*background: #26211A;*/
}

div#marcoNormal{
	width: 84%;		
	height: 84%;
	position: absolute;
	top: 4%;
	left: 8%;
	border-width:0px;
}

div.marcoPequeno{
	width: 44%;		
	height: 44%;
	position: absolute;
	top: 28%;
	left: 28%;
	border-width:0px;
}

div#cabeza{
	height: 8%;
	position: relative;
}

div#cabecera{
	height: auto;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #8F8C86;
	position: relative;
}

div#ContenedorCabecera{
	height: 90%;
	width: 100%;
	border-width: 0px;
	overflow: auto;
	overflow-x: hidden;	
}

div.cuerpo{
	height: 100%;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #8F8C86;
	position: relative;
}

div.ContenedorCuerpo{
	height: 90%;
	width: 100%;
	border-width: 0px;
	overflow: auto;
	overflow-x: hidden;	
}

div.cuerpoInterno{
	height: 100%;
	width: 98%;
	margin:0 auto;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #8F8C86;
	position: relative;
	margin-top: 1%;
}

div#piePagina{
	border-width:0px;
	width: 95%;
	height: 10%;
	border-width:0px;
	position: absolute;
	bottom: 0px;	
}

div#piePaginaBoton{
	border-width:0px;
	width: 100%;
	/*margin-left: auto;
	margin-right: auto;*/
	margin-bottom: 10%;
	height: 100%;	
}

div#piePaginaBotonIzquierdo{	
	border-width:0px;
	border-width:0px;
	width: 50%;
	float: left;
	margin-top: 0.5em;
	
}

div#piePaginaBotonDerecho{	
	border-width:0px;
	border-width:0px;
	width: 50%;
	float: left;
	text-align: right;
	margin-top: 0.5em;
}

/*
div#menuMain{
	 font-size: 12px;
}
*/

/*------------------------------------*/
.bordeMarco{
	border-style:solid;
	border-color: #ED6C23;
	border-width: 1px;
	clear: both;
}
.centroMarcoMensaje{
	/*width: 96%;*/
	margin-left: auto;
	margin-right: auto;
}
.fondoMarco{
	background-color:#FFFFFF;
}
.fondoSubTitulo{
	background-color:#FFFFFF;
	height: 1em;
}
.alineaDerecha{
	float:right;
}
.alineaIzquierda{
	float:left;
}
.botonera{
	width:100%;
	margin-left: auto; 
	margin-right: auto;
}
.botoneraConMargenSuperior{
	width:100%;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 1.5%;
}
.espacio{
	width:2%; 
}
.espacioDoble{
	width:4%; 
}
.margenVerticalNo{
	margin-top: 0%; 
	margin-bottom: 0%;
}

div.contenedor{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div.tabla{
	width: 96%;	
	margin-right: auto;
	margin-left:auto;
    clear: both;
}

div.tabla div.fila{
	width: 100%;
	clear: both;
	margin-right: auto;
	margin-left:auto;
}

div.tabla div.filaSinMargen{
	width: 100%;
	clear: both;
}

div.columnaConMargen {
	width: 100%;
	float: left;
	margin-bottom: 1%;
	margin-top: 1%;
}

div.columnaSinMargen,div.columnaDobleSinMargen,
div.columnaTripleSinMargen,div.columnaCuadrupleSinMargen,
div.columnaQuintupleSinMargen,div.columnaSextupleSinMargen,
div.columnaSeptupleSinMargen,div.columnaOctupleSinMargen,
div.columnaNonupleSinMargen,div.columnaTotalSinMargen {
	width: 100%;
	float: left;
}

div.tabla div.columna,div.columnaDoble,div.columnaTriple,
div.columnaCuadruple,div.columnaQuintuple,
div.columnaSextuple,div.columnaSeptuple,div.columnaOctuple,
div.columnaNonuple,div.columnaTotal {
	width: 100%;
	float: left;
	margin-bottom: 3%;
}

label.etiqueta {
	/*padding-left: 1%;*/
	float: left;
	clear: both;
    width: 98%;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.65em;
	color:#8F8C86;
	text-transform: uppercase;
	margin-bottom: 1%;
}

label.etiquetaDescripcion {
	/*padding-left: 1%;*/
	clear: both;
	width: 50%;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color:#8F8C86;
	margin-bottom: 1%;
	vertical-align:middle;
}
label.etiquetaModal {
	/*padding-left: 1%;*/
	/*float: left;*/
	clear: both;
    width: 98%;
    /*width: auto;*/
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.65em;
	/*font-weight: bold;*/
	color:#ED6C23;
	/*height:2.4em;*/
	text-transform: uppercase;
	margin-bottom: 0;
}

label.subtituloSinFlote{
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color:#ED6C23;
}

label.subtitulo{
	/*border-bottom-style:dashed;
	border-bottom-color:#413B33;
	border-bottom-width:1px;*/
	/*margin-bottom:1%;*/
	width:auto;
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;	
	/*font-weight: bold;*/
	color:#ED6C23;
}

label.descripcion{
	float: left;
    width: auto;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.65em;
	color:#8F8C86;
}
label.descripcionModal{
	/*float: left;*/
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.65em;
	color:#8F8C86;
	margin-bottom: 0;
	word-wrap: break-word;
}
label.descripcionCorta{
	padding-left: 1%;
	float: left;
    width: 30%;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.65em;
	color:#8F8C86;
}
img.ui-datepicker-trigger{
	float: left;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
textarea.textoNormal {
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	padding-left:0.1em;
	float: left;
	width: 91%;/*89%;*/
	background-color: #FFFFFF;
	color:#8F8C86;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	text-transform: uppercase;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

textarea.textoGrande {
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	padding-left:0.1em;
	float: left;
	width: 100%;
	background-color: #FFFFFF;
	color:#8F8C86;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	text-transform: uppercase;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

input.textoGrande {
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	padding-left:0.1em;
	float: left;
	width: 100%;
	height: 1.9em;
	background-color: #FFFFFF;
	color:#8F8C86;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	text-transform: uppercase;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

input.textoNormal {
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	padding-left:0.1em;
	float: left;
	width: 91%;/*89%;*/
	height: 1.9em;
	background-color: #FFFFFF;
	color:#8F8C86;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	text-transform: uppercase;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

input.textoEstandar {
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	padding-left:0.1em;
	float: left;
	width: 90%;
	height: 1.9em;
	background-color: #FFFFFF;
	color:#8F8C86;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	text-transform: uppercase;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

input.textoMediano {
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	padding-left:0.1em;
	float: left;
	width: 75%;
	height: 1.9em;
	background-color: #FFFFFF;
	color:#8F8C86;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	text-transform: uppercase;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

input.textoPequeno {
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	padding-left:0.1em;
	float: left;
	width: 50%;
	height: 1.9em;
	background-color: #FFFFFF;
	color:#8F8C86;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	text-transform: uppercase;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

select.selectMultipleNormal{
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	margin-right: 1%;
	padding-left:0.1em;
	float: left;
    width: 90%;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	background-color: #FFFFFF;
	color:#8F8C86;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

select.selectNormal{
	border-style:solid;
	border-color:#C1B8AF;
	border-width:0.15em;
	/*margin-left: 1%;*/
	margin-right: 1%;
	padding-left:0.1em;
	float: left;
    width: 90%;
    height: 1.9em;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	background-color: #FFFFFF;
	color:#8F8C86;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	/*text-transform: uppercase;*/
}
select.selectCorto{
	border-style:solid;
	border-color:#ED6C23;
	border-width:0.15em;
	/*margin-left: 1%;*/
	margin-right: 1%;
	padding-left:0.1em;
	float: left;
    width: 46%;
    height: 1.9em;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	background-color: #FFFFFF;
	color:#8F8C86;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	/*text-transform: uppercase;*/
}
select.selectLargo{
	border-style:solid;
	border-color:#ED6C23;
	border-width:0.15em;
	/*margin-left: 1%;*/
	margin-right: 1%;
	padding-left:0.1em;
	float: left;
    width: auto;
    height: 1.9em;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	background-color: #FFFFFF;
	color:#8F8C86;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	/*text-transform: uppercase;*/
}
/*TODO aun por analizar
*/
img.imagen {
	margin-left: 20%;
}
div.mensajeError {
	float: left;
	clear: both;
    width: auto;
    color: #ED6C23;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
}
p.parrafo{
	padding-left: 1%;
	padding-right: 1%;
	float: left;
    width: auto;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	color:#8F8C86;
	text-align:justify;
}

p.parrafoMensaje{
	padding-left: 1%;
	padding-right: 1%;
	float: left;
    width: auto;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color:#8F8C86;
	text-align:justify;
	margin-top: 12px;
}

form.formulario{
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	height: 99%;
	width: 100%;
}

label.error { 
	  font-weight:bold;
	  padding: 0;
	  height: auto;	  
	  display: block;
	  font-family: Arial;
	  position: absolute;
}

input.error,
select.error,
textarea.error { 
	border: 2px solid #ED6C23;
}

#divDialogo.ui-widget-content {
	/*border: 0px solid #aaaaaa;*/
	background: #FFFFFF;
}

#divDialogoPopup.ui-widget-content {
	border: 0px solid #aaaaaa;
	background: #FFFFFF;
}

#divDialogoMensaje.ui-widget-content {
	/*border: 0px solid #aaaaaa;*/
	background: #FFFFFF;
}

.ui-widget-content {
	border: 0px solid #aaaaaa;
	background: #FFFFFF;
	color: #222222;
}
.ui-widget-header {
	border: 0px solid #aaaaaa;
	background: #ED6C23;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color: #FFFFFF;
	/*font-weight: bold;*/
}

#dialog-form.ui-widget-content {
	border: 0px solid #aaaaaa;
	background: #FFFFFF;
}

table[id^='tblBandeja']{
	border-collapse: collapse !important;
	margin-top: 1em !important;
	width: 100% !important;
}

table[id^='tblBandeja'],
table[id^='tblBandeja'] td
{ 
	border:1px solid !important;
	padding: 0px !important;
}

table[id^='tblBandeja'] tbody td{
	height: 1.5em !important;
	text-align: center;
	border: 1px solid white !important;
}

table[id^='tblBandeja'] thead{
	background: #ED6C23 !important;
}

table[id^='tblBandeja'] tbody tr{
	background-color: #ECEAE7 !important;
}

div#divGeneralConsulta{
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	
}

div#divMarcoTitulo{	
	color: #ED6C23;
}

div#divConsultaPie{
	height: 2em;
}

div#piePaginaConsulta{	
	margin-top: 0.2em;
}

table[id^='tblBandeja'] img{
	cursor: pointer !important;
}

div#contentMain{
	margin-left: auto;
	margin-right: auto;	
	height:90%;	
	width: 90%;
}
div#divContenido{
	height: 100%;
}

table#tblFormularioUbigeo th label,
table#tblFormularioUbigeo td label{
	margin-left: 1em;	
}

input.campoDeshabilitado,
select.campoDeshabilitado{
	background-color:#DDD !important;
	border: 1px solid #999 !important;
}

.botonSinMargenDerecho.campoDeshabilitado{
	background-color:#DDD !important;
	color: #6E6c69 !important;
	border: 0px solid #999 !important;
}

.boton.campoDeshabilitado{
	background-color:#DDD !important;
	color: #6E6c69 !important;
	border: 0px solid #999 !important;
}

div.mensajeErrorEstatico {
	float: left;
	clear: both;
    width: auto;
    color: #ED6C23;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
}

label.descripcionEtiqueta{
	float: left;
    width: auto;
    font-family:Arial, Helvetica, sans-serif;
	font-size:0.7em;
	color:#8F8C86;
}

label.datoPersonal_etiquetaTipoSexo{
	padding-top: 0.3em;	
}

div#botoneraIzquierda{
	float:left;
	width: 20%;
}

div#botoneraDerecha{
	float:right;
	width: 78%;
}


div#cuerpoMotivoRetencion{
	width: 99%;
}

select.width-90 {
	width: 90%;
}

select.width-90pto5 {
	width: 90.5%;
}

input.width-80pto5 {
	width: 80.5%;
}

th.width-73px {
	width: 73px;
}

div.text-align-center {
	text-align: center;
}

div.float-none,
input.float-none,
label.float-none {
	float: none;
}

div.separador{
	border-top: 1px dashed #706C67;
	/*margin-top: 15px;*/
	/*margin-bottom: 15px;*/
	width: 100%;	
}

div.separadorConMargen{
	border-top: 1px dashed #706C67;
	margin-top: 3%;
	/*margin-bottom: 15px;*/
	width: 100%;	
}

.menup {
	width: 100%
}
.menup > li {
	float: left;
	width: 24.8%;
}

.menup li.sinlinea {
	background: none!important;
}

.menup_numero {
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 1.4em;*/
	padding: 6px 5px 6px 10px;
	color: #E96E17;
	float: left;
	margin: 0px;
}
.menup_palabra {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 7px 7px 0px;
	color: #E96E17;
	font-weight: normal;
}
.menup_activo {
	background: none!important;
	background-color: #ED6C23!important;
	color:#fff!important;
}

.menup_activo div.menup_numero  {
	color:#fff!important;
	background: none;
}

.menup_activo div.menup_palabra  {
	color:#fff!important;
}

.menup li {
	/*text-decoration: none;*/
	padding: 0px 0px;
	display: block;
	background-color: #fff;
	border-bottom: 1px solid #8f8c86;
	border-top: 1px solid #8f8c86;
	/*font-weight: bold;*/
	color: #FFFFFF;
	/*text-transform: uppercase;*/	
}

.menup li ul {
	display: none;
}
.menup li:hover > ul {
	display: block;
}

ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 90%; /*100%;*/
	/*font: inherit;*/
}

a.link_naranja{
	color: #ED6C23;
}

.ui-dialog .ui-dialog-title{
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: normal !important;
}

.mensajeErrorFijo {
    color: #ED6C23 !important;
    font-family:Arial, Helvetica, sans-serif;

}

.contentGrid.input{
height: 1.9em !important;	
}
