/*.ui-menu { 
	width: 150px; 
}
#contentMain {
	margin-left: 20%;
	height:99.5%;
}*/
/*#menuMain {
	float: left ;
	width: 20% ;		 
}*/
#menuMain {
	width: 19%;
	height:96%;
	float: left;
	font-size: 12px;
}
div#contentMain{
	margin-left: 19%;
	width: 79% ;
	height:96%;
}
div#divContenido{
	height: 100%;
}