.loading-indicator {
	height: 80px;
	width: 95px;
	
	background-repeat: no-repeat;
	background-position: center center;
	left:46% !important;
	top:50% !important;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}